* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 /* section {
    border: 2px solid rgb(225,225,225); */
 }
 
 body {
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;
    font-family: 'Roboto', sans-serif;
    color: #192B37;
    font-size: small;
 }
 
 /* image styles 
 
 .bg-image {
    background-image: url('/images/the-sleep-co-pug.jpg');
    background-size: cover;
    min-height: 10rem;
 }*/


 
 /* Universal styles & utility classes */
 
 .padded         { padding: 5%; }
 .padded-sm      { padding: 1rem; }
 .padded-lg      { padding: 10%; }

 
 .bg-dark {
    background-color: #192B37;
    color: white;
 }
 
 


 /* Typography Styles */
 
h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
 }
 
h3 {line-height: 1;}
 
p {
    font-weight: 200;
    line-height: 1.5; 
    margin-bottom: 1rem;
 }
 
p:last-child { margin-bottom: 0;}
 
 /* a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid; */

a {
  color: burlywood;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;

  /* top+bottom then left to right */
  padding: 1rem 0.2rem;
  transition: all 0.2s;
} 



a:hover {
      color: #c8c2ae;
    }
 
/* .a-border { 
    border: 0.5px solid white;
    color: inherit;
    }
 */





/* style text */


.featured-text { 
    color: burlywood;  
    font-family: 'Homemade Apple', cursive;
    font-family: 'Reenie Beanie', cursive;

  }

.featured-text-3 { 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: light;
  color: #f2e5d7;
  font-size: medium;
}

.italic  { 
  color: #f1f1f1 ;   
  font-family: 'Homemade Apple', cursive;
  font-family: 'Reenie Beanie', cursive;
  padding-top: 3.5%;
  }

.featured-text-2 { 
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-weight: light;
  }

.featured-text-3 {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.6em;
  text-transform: none;
  color: #222;
}

.white-text { color: white; }

.green-text { color: #352208}

 




.uppercase { 
  text-transform: uppercase;
  color: white;
}

.lowercase {text-transform: lowercase;}

.medium-text { 
    font-size: 2.2rem;
    line-height: 1.1;
 }
.big-text { font-size: 4.5rem;  }

.small-text { 
   font-size: 1.7rem;
   text-transform: uppercase;
}

.small-text-2 { font-size: 1.5rem;}

.x-small-text { 
  font-size: 1.4rem;
}
 
 .subtitle { 
    font-size: 1.2rem;
    color: rgb(120,120,125);
 }
 
.quote-icon { 
    font-size: 6rem;
    display: inline-block;
    line-height: 1;
    color: rgb(120,120,125); 
  }
 
.color {
     background-color: #ffd791;
     margin-bottom: 2.5%;
  }
 

.b-color-s { background-color: #ffd791; }

.footer {  background-color: #faf8f8; }

 
 .font-weight-light      { font-weight: 200; }
 .font-weight-normal     { font-weight: normal; }
 .font-weight-extra-bold { font-weight: 800; }

 .font-size-xs { font-size: x-small;}
 .font-size-s { font-size: small;}
 .font-size-m { font-size: medium;}
 .font-size-l { font-size: large;}
 .font-size-xl { font-size: x-large;}
 
 .text-left-m   { 
    text-align: left; 
    margin-left: 5%; 
    margin-bottom: 1%; 
}
 
 .text-left { text-align: left;}
 .text-center { text-align: center; }
 .text-right  { text-align: right; }
 
 .right    {  text-align: right;    }
 .center  {  text-align: center;    }


 .margin-tb { margin-top: 5%; margin-bottom: 5%; }
 .margin-b { margin-bottom: 2%; }
 .margin-bottom { margin-bottom: 7%; }
 .margin-t-b { margin-top: 3%; margin-bottom: 3%; }
 .margin-top { margin-top: 5%;}
 .margin-t { margin-top: 2%;}
 .margin-l { margin-left: 2%;}
 .margin-r { margin-right: 2%; }
 .margin-right { margin-right: -0.8%; }


 .padding { padding-bottom: 6% ;}
 .padded-r { padding-right: 5%;  }




 /* Header & Footer Styles */


header {
  padding: 1rem;
  border-bottom: 1px solid rgb(240,240,240);
}

header [class*=col] {
  padding: 0;
}

  

.logo {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
 
}

.absolute { 
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;

}

 
 header h3 {
    font-size: 5.5rem;
    line-height: 1;
 }
 
 footer a { border: none; }

 footer nav a {
  display: block;
  padding: 0.1rem;
  font-size: 0.7rem;
}




 .inline a {
   display: inline-block;
   padding: 0.5rem;
 }
 
 
 
 /* Background-images  */
 
 .bg-palmtree   {
     background-image: url('/images/palmtree.jpg');  
     background-position: 50% 80% ;
     margin-top: 3%;
   }  

 .bg-sand { 
    background-image: url('/images/sand.jpg'); 
    background-position: 50% 40%;
    margin-bottom: 3%; 
 }
 
 .bg-beach {
    background-image: url('/images/wowisla.jpg');
    background-position: 50% 10%;
 }
 
.bg-blue { 
    background-color:#8edce6 ;
    background-position: 50% 10%;
}

.bg-yellow {
background-color:#ffd791;
background-position: 50% 10%;
}

.bg-surf {   
  background-image: url('/images/surf.jpg');
  background-position: 50% 10%;
 }



.bg-wave  {
  background-image: url('/images/wave.jpg');
  background-position: 50% 10%;
}

img {
  max-width: 22%;
  vertical-align: middle;
  display: inline-block; 
}

.slider { 
  padding: 0.1rem;
  overflow-x: auto;
  white-space: nowrap;  
}


.header {
  background-image: url('/images/shadow.jpg');
  background-size: cover;
  background-position: 50% 30%;
  min-height: 80vh;
} 

.header-about {
background-image: url('/images/wowisla.jpg');
background-size: cover;
background-position: 50% 30%;
min-height: 80vh;

}      

.header-shop {
  background-image: url('/images/prints.jpg');
  background-size: cover;
  background-position: 50% 30%;
  min-height: 80vh;
  }   

.header-blog  {
  background-image: url('/images/texture.jpg');
  background-size: cover;
  background-position: 50% 30%;
  min-height: 80vh;
  }   

.header-sustainability {
  background-image: url('/images/wowisla.jpg');
  background-size: cover;
  background-position: 50% 30%;
  min-height: 80vh;
  }   

.sustainability-1 {
    background-image: url('/images/wowsea.jpg');
    background-size: cover;
    background-position: 50% 30%;
    min-height: 80vh;
    }   

.sustainability-2 {
      background-image: url('/images/seapalm.jpg');
      background-size: cover;
      background-position: 50% 30%;
      min-height: 80vh;
      }   

.sustainability-3 {
        background-image: url('/images/wave.jpg');
        background-size: cover;
        background-position: 50% 30%;
        min-height: 80vh;
        }   

.header-contact {
      background-image: url('/images/wave.jpg');
      background-size: cover;
      background-position: 50% 30%;
      min-height: 80vh;
      }   
      


/* images gallery */

.gallery {
  width: 100%;
  padding:2%;
}

.placeholder {
  width: 48%;
  margin: 1%;
  float: left;
}

.placeholder img {
  width: 100%;
  padding:1%;
  min-height: 300px;
  max-height: 600px;
}

.gallery-images {
  width: 48%;
  margin: 1.6%;
  float: left;
}

.image img {
  width: 31.333%;
  min-height:125px;
  float: left;
  margin: 1%;
  cursor: pointer;
}



.bg-image {
  background-color: rgb(90,90,90);
  background-size: cover;
  background-position: center;
}


           /* popup image gallery */

.bg-image-2 {
  background-color: rgb(235,235,235);
  background-size: cover;
  background-position: center;
}

.square {
  padding-bottom: 100%;
}

.popup-gallery .bg-image {
  border: 2px solid white;
}









/* clickable boxes */

.clickable-box {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 rgba(0, 0, 0, 0); /* so that we can add a transition */
  transition: 0.2s all;
  display: block;
}

.clickable-box .overlay {
  min-height: 12rem;
  padding: 3rem 1rem;
  background-color: rgba(0,0,10,0.4);
  color: white;
}

.clickable-box p {
  margin-bottom: 0;
}

.clickable-box:hover {
  background-color: rgba(0,0,10,0.6);
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4), 0 10px 20px -5px rgba(0, 0, 0, 0.4);
  margin-top:-2px;
}











.tall-10  {  min-height: 10vh;  }
.tall-15  {  min-height: 15vh;  }
.tall-18  {  min-height: 18vh;  }
.tall-20  {  min-height: 20vh;  }
.tall-30  {  min-height: 30vh;  }     
.tall-40  {  min-height: 40vh;  }
.tall-50  {  min-height: 50vh;  }
.tall-60  {  min-height: 60vh;  }
.tall-70  {  min-height: 70vh;  }
.tall-80  {  min-height: 80vh;  }
.tall-90  {  min-height: 90vh;  }
.tall-100 {  min-height: 100vh; }




 /* Icon Grid  
 .fas {
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
 }
*/





 /* hamburger menu */

.hamburger-button {
  cursor: pointer;
  padding: 0 0.5rem;
  display: inline-block;
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 0.8;
  margin-top: 0.2rem;
  position: absolute;
  right: 1rem;
  top: 2.1rem;
  z-index: 2;
}

.hamburger-button.active {
  color: white;
}

.mobile-menu {
  display: none;
  background-color: #e0fbfc;
  padding: 5%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.mobile-menu a {
  text-decoration: none;
  color: inherit;
  padding: 5vh 5%;
  display: block;
  font-weight: normal;
  font-size: 1.3rem;
}

/* Default Responsive Styles (Desktop and below) */

.mob-show {
  display: none;
}


/* ------- SM Media Query (48em / 768px) --------------- */ 
@media(max-width:48em) {
  .mob-hide { display: none; }
  .mob-show { display: block; }
}


/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 


.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }
}



/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  .padded-r-5 { padding-right: 5rem; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }

 


/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
  .show-xs { display: block; }
  .hide-xs { display: none;  }
}






/* banner sustainability  */ 
.banner,
.banner-with-header {
  background-size: cover;
  background-position: center;
  min-height: 80vh;
}

.fixed {
  background-attachment: fixed;
}



 /* contact page style */ 

form input,
form textarea {
  width: 100%;
  margin; 0.5rem 0;
  padding: 0.5rem;
  border: 2px solid rgb(220,220,220);
  outline: none;
  font-family: inherit;
  font-size: 0.8rem; 
  font-weight: bold;
}

form input:focus,
form textarea:focus {
  border-color: teal;
}

textarea {
  min-height: 8rem;
  
}

form label {
  margin-top: 1rem;
  display: block;
  color: #6C7A89;
  font-weight: bold;
  text-transform: uppercase;
  
}

form button {
  background-color: #6C7A89;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  margin: 0.5rem 0;
}



.form-style-two input,
.form-style-two textarea {
  border: 2px solid #f8edeb;
  background-color: #f8edeb;
  text-align: center;
  
}




.form-style-two button {
  border: 2px solid #f8edeb;
  background-color: #ff985f;
  color: #f8edeb;
  font-size: 0.6rem;
  letter-spacing: 0.02em;
  font-weight: light;
  
}

form input:focus,
form textarea:focus {
  border-color: #f8edeb;
}

.button:hover { background-color: #c8c2ae ;}





 /* copyright */ 
 .subtle { 
  opacity: 0.8;
  font-size: 0.5rem;
  text-align: center;
  text-transform: uppercase;
 }
 











/* Templates 

* {
   padding: 0;
   margin:0;
   box-sizing: border-box;
 }
 
 body {
   font-family: 'Noto Sans HK', sans-serif;
   color: rgb(60,60,65);
 }
 
 img {
   max-width:100%;
 }
 
 a {
   text-decoration: none;
   color: inherit;
 }
 
 /* ------------- Utility Classes --------------  
 
   .left     {  text-align: left;     }
   .right    {  text-align: right;    }
   .centered {  text-align: center;   }
 
 
   .padded   {  padding: 5%;    }
   .padded-05 {  padding: 0.5rem;  }
   .padded-1 {  padding: 1rem;  }
   .padded-2 {  padding: 2rem;  }
 
   .capped-width { max-width: 1100px; margin: auto;}
 
   .tall-50  {  min-height: 50vh;   }
   .tall-100 {  min-height: 100vh;  }
 
   .dark-bg      {  background-color: rgb(90, 90, 95);     }
   .light-bg     {  background-color: rgb(240, 240, 245);  }
   .featured-bg  {  background-color: #ffeaa7;             }
 
   .light-text   { color: white; }
   .caps {text-transform: uppercase;}
 
 
   .flex-flip:nth-child(2n){  flex-direction: row-reverse; }
 
     /* General typography 
 
     h2, h3, h4, h5, h6 {
     line-height: 1;
     margin-bottom: 0.8rem;
     }
 
     h2  { font-size: 2.2rem;  }
     h3  { font-size: 1.8rem;  }
     h4  { font-size: 1.4rem;  }
     p   { font-size: 1rem;  }
 
     p, ul {
      margin-bottom: 0.8rem;
     }
 
     /* this makes sure that the last element in any container doesn't have margin-bottom 
     h2:last-child,
     h3:last-child,
     h4:last-child,
     h5:last-child,
     h6:last-child,
     p:last-child {
     margin-bottom:0;
     }
 
     hr { /* this is a line element 
     border: none;
     border-bottom: 3px solid;
     width: 4rem;
     margin-bottom: 1rem;
     }
 
 
     /* Unique Typography Styles 
 
     .emphasis {
       font-size: 1.2rem;
     }
 
     /* Button & Link Styles 
 
 
     a:hover {
         color: red;
     }
     /* We have created lots of different button styles, you probably don't need to have quite this many styles depending on your site
 
     .button,
     .button-solid,
     .button-inverted {
       text-decoration: none;
       color: rgb(120,120,130);
       border: 2px solid;
       padding: 0.6rem 2rem;
       margin-top: 1rem;
       display: inline-block;
       text-transform: uppercase;
       font-size: 0.9rem;
       font-weight: 500;
     }
 
     .button:hover {
       color: rgb(60, 60, 60);
     }
 
     .button.inverted {   /* this is for a button on a dark background 
       border: 2px solid white;
       color: white;
     }
 
     .button.inverted:hover {
       color: #e67e22;
       border-color: #e67e22;
     }
 
     .button-solid {
       background-color: #e67e22;
       border-color: #e67e22;
       color: white;
     }
 
     .button-solid:hover {
       background-color: rgb(60, 60, 60);
       border-color: rgb(60, 60, 60);
     }

 /* Padding Utility Classes 
.padded-sm { padding: 2.5%; }
.padded    { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1  { padding: 1rem; }
.padded-2  { padding: 2rem; }

.padded-t  { padding-top: 5%; }
.padded-b  { padding-bottom: 5%; }
.padded-l  { padding-left: 5%; }
.padded-r  { padding-right: 5%; }

.padded-tb  { padding-top: 5%; padding-bottom: 5%; }
.padded-lr  { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }



/* Margin Utility Classes 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

Typography Styles 

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }

body {
  font-family: "Arial", sans-serif;  /* Add your font here 
}

h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

p {
  line-height: 1.4; 
  margin-bottom: 1rem;
}

h2:last-child, 
h3:last-child, 
h4:last-child, 
h5:last-child, 
h6:last-child, 
p:last-child {
	margin-bottom: 0;
}


Background & Image Styles 

.bg-dark { 
  background-color: rgb(60,60,65); 
  color: white;
}

.bg-featured { background-color: lightblue; }
.bg-light { background-color: rgb(245,245,245); }

.bg-image {
  background-color: grey; /* Set a fall-back color while images are loading 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

/* Aspect Ratios with percentage unit are only effective if the element (the <div>) is inside a parent container or column, it can't be applied to the column itself. 

.landscape     { padding-bottom: 66%:  }
.portrait-tall { padding-bottom: 175%; }
.portrait      { padding-bottom: 125%; }
.square        { padding-bottom: 100%; }


/* Background Position 
.bg-pos-t { background-position: top; }
.bg-pos-b { background-position: bottom; }
.bg-pos-l { background-position: left; }
.bg-pos-r { background-position: right; }


*/
